* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Sans-Serif;
  box-sizing: border-box;
}
.utama {
  height: 100vh;
  width: 100%;
  background: #e3f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kalkulator {
  background: #3a4452;
  padding: 20px;
  border-radius: 10px;
}
.kalkulator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}
form .teks {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .teks input {
  text-align: right;
  box-shadow: none;
  flex: 1;
  font-size: 45px;
}
form input.lebar {
  width: 145px;
}
